*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

.div1 {
    width:  100%;
    height: 500px;
    background: yellow;
}

.div2 {
    width: 100%;
    height: 500px;
    background: red;
}

.div3 {
    width: 100%;
    height: 500px;
    background: purple;
}